<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
    />
    <link rel="stylesheet" href="../static/dashboard.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="text-right">
      <a
        class="btn btn-danger text-white m-1"
        href="http://127.0.0.1:5000/logout"
        >Logout</a
      >
    </div>
    <h1 class="text-center">Dashboard</h1>
    <h6 class="text-center text-info">Under Development</h6>
  </body>
</html>
